<ion-header>
  <ion-toolbar>
    <ion-title>AlertExample</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="presentAlert()">presentAlert</ion-button>
  <ion-button (click)="presentAlertMultipleButtons()">presentAlertMultipleButtons</ion-button>
  <ion-button (click)="presentAlertConfirm()">presentAlertConfirm</ion-button>
  <ion-button (click)="presentAlertPrompt()">presentAlertPrompt</ion-button>
  <ion-button (click)="presentAlertRadio()">presentAlertRadio</ion-button>
  <ion-button (click)="presentAlertCheckbox()">presentAlertCheckbox</ion-button>
</ion-content>
