<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>ion-infinite-scroll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item *ngFor="let item of data | slice:0:limit">
      <ion-label color="primary">{{item}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
